<h1>Your targets</h1>

<table>
<thead>
<tr>
  <th>Ref</th>
  <th>Target type</th>
  <th>Target month</th>
  <th>Target value</th>
  <th>Target status</th>
  <th>Remaining amount to reach target</th>
</tr>
</thead>
<tbody>
<% count = 1 %>
<% @targets.each do |target| %>
<tr>
  <td><%= count %></td>
        <% count += 1 %>
  <td><%= target.type %></td>
  <td><%= target.month %></td>
  <td><p>£<%= target.value %></p></td>
  <% if @account.balance_against_target(target) == false  %>
  <td> <h5>Target cannot be met</h5></td>
  <% else %>
   <td><h5>Target could be met</h5> </td>
  <% end %>

  <td><p>£<%= @account.calculate_amount_to_reach_target(target) %></p></td>
  <% end %>

</tr>
</tbody>
</table>

<br><br>

<table>
<thead>
  <tr>
    <th>Total target value</th>
    <th>Available funds</th>
    <th>Remaining amount to reach total target value</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><p>£<%= @account.total_targets_value()  %></p></td>
    <td><p>£<%= @account.account_balance() %></p></td>
    <td><p>£<%= @account.calculate_amount_to_reach_total_target_value() %></p></td>
  </tr>
</tbody>
</table>

<br><br>

<a href="/target/new"><button type="button" class="button-on-index">Add a new target</button></a>




