<h1>Account analysis</h1>

<h5>Total income:</h5>
<p>£<%= @account.account_income %></p>

<h5>Total outgoings:</h5>
<p>£<%= @account.account_outgoings %></p>

<h5>Balance:</h5>
<p>£<%= @account.account_balance %></p>

<h5>Round-ups</h5>
<p>£<%= @account.calculate_round_up_value() %></p>

<% if @account.account_income > 0 %>
<h5>Income by tag:</h5>
<% end %>

  <% @tags.each do |tag| %>
    <% if @account.account_income > 0 %>
    <%= tag.description  %>
    <p>£<%= @account.account_income_by_tag(tag.id) %></p>
    <% end %>
  <% end %>

  <% if @account.account_outgoings > 0 %>
  <h5>Outgoings by tag:</h5>
  <% end %>

  <% @tags.each do |tag| %>
    <% if @account.account_outgoings > 0 %>
      <%= tag.description  %>
      <p>£<%= @account.account_outgoings_by_tag(tag.id) %></p>
      <% end %>
    <% end %>
