<h1>Transaction added!</h1>

<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Category</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>
<tbody>
  <tr>
    <td><%=@transaction.merchant_name%></td>
    <td><%=@transaction.tag_description%></td>
    <td><%=@transaction.transaction_type%></td>
    <td>£<%=@transaction.amount%></td>
    <td><%=@transaction.date%></td>
    <td><%=@transaction.time%></td>
  </tr>
</tbody>
</table>



