<h1>Transaction added!</h1>

<h5>Merchant:</h5>
<%=@transaction.merchant_name%><br>

<h5>Category:</h5>
<%=@transaction.tag_description%><br>

<h5>Amount:</h5>
<p>£<%=@transaction.amount%></p><br>

<h5>Date:</h5>
<%=@transaction.date%><br>

<h5>Time:</h5>
<%=@transaction.time%><br>

<h5>Transaction type:</h5>
<%=@transaction.transaction_type%><br>

<!-- <h5>Payment type:</h5>
<%#=@transaction.payment_type%><br> -->

<!-- <h5>Shopping method:</h5>
<%=@transaction.shopping_method%><br>

 -->





