<h1>Your Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Amount</th>
      <th>Date of transaction</th>
      <th>Time of transaction</th>
    </tr>
  </thead>
    <tbody>
    <% count = 1 %>
    <% @account.transactions.each do |transaction| %>
      <tr>
        <td><%=count %> </td>
              <%count += 1 %>
        <td><%= transaction.merchant_name %></td>
        <td><%= transaction.tag_description %></td>
        <td><p>£<%= transaction.amount %></p></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<a href="/transaction/new"><button type="button" class="button-on-index">Add a new transaction</button></a>





