<h1>Your transactions</h1>

<h5>Balance:</h5>
<p>£ <%= @account.account_balance  %> </p>

<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Amount</th>
      <th>Date of transaction</th>
      <th>Time of transaction</th>
    </tr>
  </thead>
    <tbody>
    <% count = 1 %>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%=count %> </td>
              <%count += 1 %>
        <td><%= transaction.merchant_name %></td>
        <td><%= transaction.tag_description %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
