<h1>Your transactions</h1>

<table>
  <thead>
    <tr>
      <th>Merchant</th>
      <th>Tag</th>
      <th>Amount</th>
      <th>Date of transaction</th>
      <th>Time of transaction</th>
    </tr>
  </thead>
    <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.merchant_name %></td>
        <td><%= transaction.tag_description %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
        <td><%= transaction.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>




